html, body {
    margin: 0;
    padding: 0;
    /* background: #1F2937; */

}
.container{
    height: 550px;
    width: 550px;
    border: 1px solid black;
    margin: auto;
    color: #ffffff;
    background-color: #1F2937;
    text-align: center;
}
.header{
    height: 260px;
    background-image: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    }
.number{
     
    text-align: center;
    width: 40%;
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 97.5723px;
    /* line-height: 24px; */
    }
h2{
    position: absolute;
    width: 448.4px;
    height: 38px;
    left: 51px;
    top: 53px;
    font-family: 'Inter';
        
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 38px;
        
        /* identical to box height, or 173% */

    text-align: center;
    letter-spacing: -0.05em;
    color: #FFFFFF;

        
    }
    .length{
        display: block;
    }
    .bottom1{
left: 102px;
top: 327px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;
margin: 25px
;    }